@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6f1eb; 
    font-family: 'Roboto', sans-serif;
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #ffffff;
    width: 500px; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 26px; 
    font-weight: 700;
    color: #353535;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 18px; 
    font-weight: 600;
    color: #353535;
    margin-bottom: 10px;
    margin-top: 20px; 
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    color: #353535;
    background-color: #f8f8f8;
    outline: none;
    transition: border 0.2s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #57b8ab;
}

select {
    height: 50px;
    appearance: none;
    background: #ffffff;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 150px; 
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #57b8ab; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #499c91;
}

a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #57b8ab;
    text-decoration: none;
}

.error {
    color: rgb(227, 107, 107);
}

a:hover {
    text-decoration: underline;
}
